body, html{
  height: 100%;
  width: 100%;
  background: #828282;
}

p{
  font-family: sans-serif;
  color: #000;
}

h1{
  text-align: center;
  margin-top: 25px;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  border: groove 1px;
}

img{
  border: groove 2px;
}

.navbar{
  border: none;
  border-radius: 0;
  padding: 5px;
}

.jumbotron{
  margin: 0;
  margin-bottom: 10px;
  border-bottom: groove 2px;
  width: 100%;
  height: 30%;

  background: url("img/Nioh_KeyVisual.jpg") no-repeat;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel{
  margin-bottom: 10px;
  border: none;
  border-radius: 0;
  background: #a5a5a5;
  padding: 15px;
  box-shadow: 2px 2px 2px #000;
}

.header{
  background: #000;
  width: 100%;
  height: 50px;
}

.footer{
  margin-top: 50px;
  background: #000;
  width: 100%;
  height: 100px;
}

#image_h2{
  text-align: center;
  font-size: 18px;
  margin-top: 8px;
}

#jumbo_h1{
  border: none;
  background: none;
  margin-top: 3%;
  color: #ad0000;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 2px 2px 2px #000;
}

#jumbo_h2{
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 2px 2px 2px #000;
}
